Repository TeamCatchMe/CatchMe-If-You-Server, pull requests merged in 2021-07, with the labels that each got.

#9 [7/1] 초기 환경 세팅 완료
  .gitignore
  dist/api/test.js
  dist/api/test.js.map
  dist/config/index.js
  dist/config/index.js.map
  dist/index.js
  dist/index.js.map
  dist/interfaces/ITest.js
  dist/interfaces/ITest.js.map
  dist/loaders/db.js
  dist/loaders/db.js.map
  dist/models/test.js
  dist/models/test.js.map
  package.json
  src/api/test.ts
  src/config/index.ts
  src/index.ts
  src/interfaces/ITest.ts
  src/loaders/db.ts
  src/models/test.ts
  tsconfig.json
Labels: Setting⚙️, 영재☄️

#10 [7/1] 7/1 코드 리뷰 피드백 적용하여 수정
  .vscode/settings.json
  src/api/test.ts
  src/loaders/db.ts
  tsconfig.json
Labels: Setting⚙️, 영재☄️

#12 [7/2] nodemon.json 파일 추가
  dist/api/test.js.map
  dist/loaders/db.js
  dist/loaders/db.js.map
  nodemon.json
Labels: chore🧹, 영재☄️

#14 [7/2] 리드미 업데이트 및 위키 템플릿 작성
  README.md
  ReadMe/.DS_Store
  ReadMe/07PR2.jpeg
  ReadMe/10CodeConvention.jpeg
  ReadMe/11CodeConvention.jpeg
  ReadMe/12CodeConvention.jpeg
  ReadMe/13CodeConvention.jpeg
  ReadMe/dailyflow_img.jpeg
  ReadMe/issue_img.jpeg
  ReadMe/issue_img2.jpeg
  ReadMe/strategy_img.jpeg
Labels: Setting⚙️, chore🧹, docs📖, 영재☄️

#16 [7/5] 리드미 수정(배너 업데이트)
  .DS_Store
  README.md
  ReadMe/.DS_Store
  ReadMe/00 banner.png
Labels: docs📖, 영재☄️

#19 [7/5] test용 post api 추가
  .gitignore
  dist/api/post.js
  dist/api/post.js.map
  dist/interfaces/IPostTest.js
  dist/interfaces/IPostTest.js.map
  dist/models/PostTest.js
  dist/models/PostTest.js.map
  package.json
  src/api/post.ts
  src/api/test.ts
  src/index.ts
  src/interfaces/IPost.ts
  src/models/post.ts
  src/utils/s3.ts
Labels: feat✨, 세훈🦖

#20 [7/5] test용 get api 짜기, 리드미 업데이트
  README.md
  src/api/test.ts
  src/interfaces/ITest.ts
  src/loaders/db.ts
  src/models/test.ts
Labels: docs📖, update🔮, 영재☄️

#22 [7/6] awsconfig 파일 문제 해결, 리드미 업데이트
  README.md
  dist/utils/s3.js
  dist/utils/s3.js.map
Labels: chore🧹, docs📖, 영재☄️

#24 [7/6] 리드미 1차 과제부분 업데이트, API 명세서 초안 작성, 역할 분담
  README.md
  dist/utils/s3.js
  dist/utils/s3.js.map
Labels: chore🧹, docs📖, 영재☄️

#25 [7/6] POST API 보완
  dist/api/post.js
  dist/api/post.js.map
  dist/utils/s3.js
  dist/utils/s3.js.map
  src/api/post.ts
  src/utils/s3.ts
Labels: chore🧹, 세훈🦖

#45 [7/7] main-card 뷰 캐릭터 목록 가져오기 테스트 API 작성
  dist/api/character.js
  dist/api/character.js.map
  dist/api/main-card.js
  dist/api/main-card.js.map
  dist/api/post.js
  dist/api/post.js.map
  dist/api/report.js
  dist/api/report.js.map
  dist/index.js
  dist/index.js.map
  dist/interfaces/ICharacter.js
  dist/interfaces/ICharacter.js.map
  dist/interfaces/ICharacterTest.js
  dist/interfaces/ICharacterTest.js.map
  dist/loaders/db.js
  dist/loaders/db.js.map
  dist/models/Character.js
  dist/models/Character.js.map
  dist/models/CharacterTest.js
  dist/models/CharacterTest.js.map
  dist/utils/s3.js
  dist/utils/s3.js.map
  src/api/character.ts
  src/api/main-card.ts
  src/api/report.ts
  src/index.ts
  src/interfaces/IActivityTest.ts
  src/interfaces/ICharacter.ts
  src/interfaces/ICharacterTest.ts
  src/loaders/db.ts
  src/models/Character.ts
  src/models/CharacterTest.ts
Labels: feat✨, get 📡, main-card 🎫, 세훈🦖

#46 [7/7] 로그인 API & 회원가입 API 1차 완료
  src/api/user.ts
  src/index.ts
  src/interfaces/IUserData.ts
  src/loaders/db.ts
  src/middleware/auth.ts
  src/models/Userdata.ts
Labels: feat✨, login🕶, post 📦, signup🔏, 영재☄️

#47 [7/8] 로그인 API 완성
  src/api/user.ts
Labels: login🕶, post 📦, update🔮, 영재☄️

#49 [7/8] 캐릭터 생성 test api, getDate 모듈 추가
  src/api/main-card.ts
  src/interfaces/ICharacterTest.ts
  src/models/Character.ts
  src/models/CharacterTest.ts
  src/modules/getDate.ts
Labels: feat✨, main-card 🎫, post 📦, 세훈🦖

#50 [7/8] 회원가입, 아이디 중복 체크 API 완성. 토큰 확인용 api 작성
  src/api/main.ts
  src/api/user.ts
  src/index.ts
  src/middleware/auth.ts
Labels: chore🧹, feat✨, main 🔖, signup🔏, update🔮, 영재☄️

#54 [7/9] main-card 뷰 API 작성
  package.json
  src/api/character.ts
  src/api/main-card.ts
  src/api/report.ts
  src/interfaces/IActivity.ts
  src/interfaces/ICharacter.ts
  src/interfaces/ICharacterTest.ts
  src/loaders/db.ts
  src/models/Character.ts
  src/models/CharacterTest.ts
  src/modules/getDate.ts
Labels: feat✨, fix🛠, get 📡, main-card 🎫, post 📦, 세훈🦖

#53 [7/9] main API 연습 및 데이터 다듬기
  dist/api/main-card.js
  dist/api/main-card.js.map
  dist/api/main.js
  dist/api/main.js.map
  dist/api/user.js
  dist/api/user.js.map
  dist/index.js
  dist/index.js.map
  dist/interfaces/IActivityTest.js
  dist/interfaces/IActivityTest.js.map
  dist/interfaces/IUserData.js
  dist/interfaces/IUserData.js.map
  dist/loaders/db.js
  dist/loaders/db.js.map
  dist/middleware/auth.js
  dist/middleware/auth.js.map
  dist/models/Character.js
  dist/models/Character.js.map
  dist/models/CharacterTest.js
  dist/models/CharacterTest.js.map
  dist/models/Userdata.js
  dist/models/Userdata.js.map
  dist/modules/getDate.js
  dist/modules/getDate.js.map
  src/api/main.ts
  src/api/user.ts
Labels: feat✨, get 📡, main 🔖, 영재☄️

#55 [7/10] report API 추가
  src/api/main.ts
  src/api/post.ts
  src/api/report.ts
  src/index.ts
Labels: feat✨, get 📡, report 📠, 세훈🦖

#57 [7/10] add-action API 버그 픽스중
  src/api/activity.ts
  src/api/main.ts
  src/index.ts
  src/models/Activity.ts
  src/models/Character.ts
Labels: bug🐛

#63 [07/10] activity 모델 수정
  src/api/activity.ts
  src/interfaces/IActivity.ts
  src/models/Activity.ts
Labels: add-action🌪, update🔮, 영재☄️

#64 [7/11] character, report API 작성 시작
  src/api/activity.ts
  src/api/character.ts
  src/api/main-card.ts
  src/api/report.ts
  src/interfaces/ICharacter.ts
  src/models/Activity.ts
  src/models/Character.ts
Labels: character 🥷, chore🧹, feat✨, report 📠, 세훈🦖

#65 [7/11] report, character API 작업
  src/api/character.ts
  src/api/main-card.ts
  src/api/report.ts
  src/index.ts
  src/interfaces/ICharacter.ts
  src/models/Character.ts
Labels: character 🥷, feat✨, fix🛠, get 📡, report 📠, 세훈🦖

#66 [7/10] add-action뷰 이미지 업로드 로직 대략적 완성
  src/api/activity.ts
  src/api/post.ts
Labels: edit-action🥊, fix🛠, post 📦, 영재☄️

#67 [7/11] report, character API 추가, Model 수정
  src/api/activity.ts
  src/api/character.ts
  src/api/main-card.ts
  src/api/report.ts
  src/interfaces/ICharacter.ts
  src/models/Character.ts
Labels: character 🥷, feat✨, fix🛠, get 📡, report 📠, 세훈🦖

#71 [7/12] report. character 2차 수정
  src/api/activity.ts
  src/api/main-card.ts
  src/api/report.ts
  src/interfaces/ICharacter.ts
Labels: character 🥷, fix🛠, get 📡, report 📠, 세훈🦖

#72 [7/12] main API 완성
  src/api/activity.ts
  src/api/main.ts
  src/api/user.ts
  src/interfaces/ICharacter.ts
  src/middleware/authtest.ts
  src/models/Character.ts
  src/utils/s3.ts
Labels: feat✨, get 📡, main 🔖, 영재☄️

#73 [7/12] main API 살짝 수정
  src/api/main.ts
Labels: get 📡, main 🔖, update🔮, 영재☄️

#75 [7/13] activity 모델 수정
  src/api/activity.ts
  src/interfaces/IActivity.ts
  src/models/Activity.ts
Labels: add-action🌪, post 📦, update🔮, 영재☄️

#74 [7/13] 담당 API 98% 완성
  src/api/activity.ts
  src/api/character.ts
  src/api/main-card.ts
  src/api/report.ts
Labels: character 🥷, fix🛠, get 📡, report 📠, 세훈🦖

#76 [7/13] character API 수정
  src/api/character.ts
Labels: character 🥷, fix🛠, get 📡, 세훈🦖

#79 [fix] maincard API 수정
  src/api/main-card.ts
Labels: fix🛠, main-card 🎫, post 📦, 세훈🦖

#80 [7/13] report API 수정
  src/api/report.ts
Labels: fix🛠, get 📡, report 📠, 세훈🦖

#82 [7/13] add-action 뷰 게시물 등록, 수정 API
  src/api/activity.ts
  src/models/Character.ts
  src/utils/s3.ts
Labels: add-action🌪, feat✨, post 📦, 영재☄️

#83 [7/13] 코드 리뷰 반영
  src/api/activity.ts
Labels: add-action🌪, post 📦, update🔮, 영재☄️

#85 [7/14] report API 일별 최다활동 캐릭터 수정중
  src/api/report.ts
Labels: fix🛠, get 📡, report 📠, 세훈🦖

#84 [7/14] delete activity API 완성, 로그인 API 수정
  .DS_Store
  src/api/activity.ts
  src/api/user.ts
Labels: delete-action🔥, feat✨, login🕶, post 📦, update🔮, 영재☄️

#88 [7/13] report API 완성
  src/api/report.ts
Labels: bug🐛, fix🛠, get 📡, report 📠, 세훈🦖

#87 [7/13] 닉네임 변경 ing
  src/api/setting.ts
  src/api/user.ts
Labels: feat✨, post 📦, setting⚙️, update🔮, 영재☄️

#89 [7/14] model 수정
  src/api/activity.ts
  src/api/character.ts
  src/api/main-card.ts
  src/interfaces/IActivity.ts
  src/interfaces/ICharacter.ts
  src/models/Activity.ts
  src/models/Character.ts
Labels: fix🛠, 세훈🦖

#90 [7/14] maincard API 수정
  src/api/maincard.ts
  src/index.ts
Labels: fix🛠, main-card 🎫, 세훈🦖

#91 [7/14] recentActivityTime 모델 업데이트 및 로직 업데이트
  src/api/activity.ts
  src/interfaces/IActivity.ts
  src/models/Activity.ts
Labels: fix🛠, update🔮, 영재☄️

#92 [7/14] main 뷰 response 수정
  src/api/main.ts
Labels: fix🛠, main 🔖, post 📦, 영재☄️

#93 [7/14] 구경하기 API 추가
  src/api/other.ts
  src/index.ts
Labels: feat✨, get 📡, other 🌏, 세훈🦖

#94 [7/14] API 로그 수정
  src/api/character.ts
  src/api/maincard.ts
  src/api/other.ts
  src/api/report.ts
Labels: chore🧹

#95 [7/14] nickname 변경 api
  src/api/setting.ts
  src/index.ts
Labels: feat✨, post 📦, setting⚙️, 영재☄️

#96 [7/14] 로그 출력 세팅
  src/api/activity.ts
  src/api/main.ts
  src/api/setting.ts
  src/api/user.ts
Labels: update🔮, 영재☄️

#98 [7/14] character, other API 수정
  src/api/character.ts
  src/api/other.ts
  src/api/report.ts
  src/interfaces/IActivity.ts
  src/interfaces/ICharacter.ts
Labels: fix🛠

#100 [7/14] password check API 완성
  src/api/character.ts
  src/api/setting.ts
Labels: feat✨, post 📦, setting⚙️, 영재☄️

#102 [7/15] character API 수정
  src/api/character.ts
Labels: character 🥷, fix🛠, get 📡, 세훈🦖

#103 [7/15] 회원 탈퇴 API 완성
  src/api/setting.ts
Labels: feat✨, post 📦, setting⚙️, 영재☄️

#104 [7/15] 캐릭터 수정 API 추가
  src/api/character.ts
Labels: character 🥷, feat✨, post 📦, 세훈🦖

#106 [7/15] add-action count 오류 해결
  src/api/activity.ts
Labels: add-action🌪, fix🛠, update🔮, 영재☄️

#108 [7/15] character API 분기처리
  src/api/character.ts
Labels: character 🥷, fix🛠, post 📦, 세훈🦖

#107 [7/15] 활동 수정/삭제 오류 해결, 불필요한 import 삭제
  src/api/activity.ts
  src/api/setting.ts
Labels: add-action🌪, delete-action🔥, edit-action🥊, fix🛠, update🔮, 영재☄️

#109 [7/15] user, setting 뷰 API res 수정
  src/api/setting.ts
  src/api/user.ts
Labels: chore🧹, setting⚙️, signup🔏, 영재☄️

#110 [7/15] API 전면 수정
  src/api/maincard.ts
  src/api/report.ts
Labels: bug🐛

#111 [7/15] API 전면 테스트 및 수정
  src/api/activity.ts
  src/api/user.ts
Labels: bug🐛, fix🛠, 영재☄️

#112 [7/15] report 수정
  src/api/report.ts
Labels: bug🐛, fix🛠, report 📠

#115 [7/15] report API res 수정
  src/api/report.ts
Labels: bug🐛, report 📠, 세훈🦖

#116 [7/15] add-action 정렬 수정
  src/api/activity.ts
Labels: add-action🌪, edit-action🥊, fix🛠, post 📦, update🔮, 영재☄️

#117 [7/15] maincard 수정
  src/api/activity.ts
  src/api/maincard.ts
  src/api/other.ts
  src/interfaces/ICharacter.ts
  src/models/Character.ts
  src/modules/logger.ts
  src/modules/status.ts
Labels: bug🐛, fix🛠, get 📡, main-card 🎫, 세훈🦖

#118 [7/15] 액티비티 수정, 삭제시 S3 버켓에서 해당 사진 삭제
  src/api/activity.ts
Labels: add-action🌪, delete-action🔥, edit-action🥊, fix🛠, update🔮, 영재☄️

#119 [7/14] nickname API 수정
  src/api/setting.ts
  src/api/user.ts
Labels: fix🛠, post 📦, setting⚙️, 세훈🦖

#123 [7/15] report API 수정
  src/api/report.ts
Labels: fix🛠, get 📡, report 📠, 세훈🦖

#124 [7/16] activity.ts 불필요한 log 삭제
  src/api/activity.ts
Labels: fix🛠

#125 [7/16] 구경하기 상세정보 수정
  src/api/other.ts
Labels: fix🛠, get 📡, other 🌏, 세훈🦖

#126 [7/16] logger 추가
  src/api/activity.ts
  src/api/character.ts
  src/api/maincard.ts
  src/api/other.ts
  src/api/report.ts
  src/api/user.ts
  src/modules/logger.ts
Labels: chore🧹, 세훈🦖

#127 [7/16] 회원탈퇴 API 완성
  README.md
  src/api/activity.ts
  src/api/setting.ts
  src/api/user.ts
  src/modules/logger.ts
Labels: docs📖, feat✨, fix🛠, setting⚙️, 영재☄️

#128 [7/16] logger 추가
  src/api/setting.ts
  src/modules/logger.ts
Labels: update🔮

#131 [7/16] 리드미 업데이트
  README.md
Labels: docs📖, 영재☄️

#132 [7/16] setting/withdraw 로그 수정
  src/api/setting.ts
Labels: docs📖, post 📦, setting⚙️, update🔮, 영재☄️

#136 [7/16] image 문제 해결
  src/api/activity.ts
  src/api/setting.ts
Labels: fix🛠, 영재☄️

#137 [7/17] 레벨업 되지 않던 문제 해결
  src/api/activity.ts
Labels: add-action🌪, bug🐛, post 📦, 영재☄️

#139 [7/17] /edit 이미지 업로드 문제 해결 완료
  src/api/activity.ts
Labels: edit-action🥊, fix🛠, 영재☄️

#140 [7/17] 캐치지수 버그 수정
  src/api/character.ts
  src/api/other.ts
Labels: bug🐛

#146 [7/17] 불필요한 로그, 코드 삭제
  src/api/activity.ts
  src/api/maincard.ts
  src/api/other.ts
  src/api/setting.ts
  src/modules/status.ts
Labels: chore🧹, 세훈🦖

#148 [7/23] 1차 더미 코드 및 모듈 정리
  .gitignore
  package.json
  src/api/activity.ts
  src/api/character.ts
  src/api/main.ts
  src/api/maincard.ts
  src/api/other.ts
  src/api/report.ts
  src/api/setting.ts
  src/api/user.ts
  src/index.ts
  src/interfaces/IUserData.ts
  src/loaders/db.ts
  src/middleware/auth.ts
  src/middleware/authtest.ts
  src/models/Character.ts
  src/models/Userdata.ts
  src/modules/logger.ts
  src/utils/s3.ts
Labels: chore🧹, 세훈🦖
